certifi==2020.4.5.1
chardet==3.0.4
fuzzywuzzy==0.18.0
icalendar==4.0.6
idna==2.9
keyring==21.2.1
python-Levenshtein-wheels==0.13.1
pytz==2020.1
requests==2.23.0
six==1.15.0
tzlocal==2.1
urllib3==1.25.9